/* General */
.clan-screen {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 80px 16px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
  /* Clan Header */
  .clan-header {
    text-align: center;
    margin-top: 20px;
  }
  
  .clan-image-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  
  .clan-title {
    font-size: 32px;
    font-weight: 500;
    margin: 10px 0;
  }
  
  .clan-cta-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
  }
  
  .clan-cta {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .clan-cta.active {
    background-color: #fff;
    color: #000;
  }
  
  .clan-cta.inactive {
    background-color: #414141;
    color: #fff;
  }
  
  /* Top Clans Section */
  .top-clans-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  
  .section-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .see-all {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .see-all img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
  
  /* Clan Cards */
  .clan-cards {
    margin-top: 20px;
  }
  
  .clan-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414141;
    padding: 10px 16px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .clan-card-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .clan-card-details {
    flex: 1;
    margin-left: 10px;
  }
  
  .clan-card-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .clan-card-stats {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }
  
  .members-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .clan-card-members {
    font-size: 14px;
    color: #fff;
  }
  
  .rank-icon {
    width: 24px;
    height: 24px;
  }
  