.clan-details-screen {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 80px 16px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clan-icon-section {
  display: flex;
  justify-content: center;
}

.clan-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.clan-name {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}

.clan-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.position-text {
  font-size: 18px;
  margin-right: 5px;
}

.top-icon {
  width: 24px;
  height: 24px;
}

.clan-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.cta-button {
  display: flex;
  align-items: center;
  background-color: #414141;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.cta-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cta-text {
  color: #fff;
}

.your-clan-section .data-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.data-title {
  color: #aaa;
}

.data-value {
  color: #fff;
  display: flex;
  align-items: center;
}

.coin-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Top Earners Section */
.top-earners-section1 {
  margin-top: 20px;
}

.top-earners-text1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left; /* Center the text */
}

.top-earners-cards-container1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-earner-card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background-color: #414141;
}

.top-earner-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.top-earner-icon {
  width: 40px;
  height: 40px;
}

.top-earner-info {
  display: flex;
  flex-direction: column;
}

.top-earner-username {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.top-earner-username .level {
  color: orange;
}

.top-earner-coins {
  font-size: 12px;
  color: #d9d9d9;
}

.top-earner-right {
  display: flex;
  align-items: center;
}

.top-earner-right-icon {
  width: 20px;
  height: 20px;
}

.position-number {
  font-size: 14px;
  color: #fff;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  .top-earner-card {
    padding: 12px;
  }

  .top-earner-icon {
    width: 36px;
    height: 36px;
  }
}