/* General */
.detailed-clan-screen {
    background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 80px 16px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
/* Clan Icon Section */
.clan-icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
.clan-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
  
/* Clan Name */
.clan-name {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}
  
/* Clan Position */
.clan-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
  
.position-text {
    font-size: 18px;
    margin-right: 5px;
}
  
.top-icon {
    width: 24px;
    height: 24px;
}
  
/* Join Button Frame */
.join-btn-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #414141;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}
  
.join-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
  
.join-btn-text {
    font-size: 16px;
    color: #fff;
}
  
/* Your Clan Section */
.your-clan-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
  
.your-clan-text {
    font-size: 16px;
    font-weight: bold;
}
  
.see-all-section {
    display: flex;
    align-items: center;
}
  
.see-all-text {
    font-size: 14px;
    color: #fff;
    margin-right: 5px;
}
  
.see-all-icon {
    width: 16px;
    height: 16px;
}
  
/* Data Card */
.data-card {
    background-color: #414141;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
}
  
.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.data-title {
    font-size: 14px;
    color: #ccc;
}
  
.data-value {
    display: flex; /* Align the icon and value horizontally */
    align-items: center;
    font-size: 14px;
    color: #fff;
}
  
.coin-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px; /* Adds space between the icon and the value */
}
  
/* Clan Top Earners Section */
.top-earners-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
  
.top-earners-text {
    font-size: 16px;
    font-weight: bold;
}
  
/* Join Clan Info Text */
.join-clan-info {
    text-align: center;
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}
