.splash-container {
    background-color: #000;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-top: 0px; 
    align-items: center;
    height:100vh; 
  }
  
  .splash-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px; 
  }
  
  .splash-logo {
    width: 80px; 
    height: 80px;
    object-fit: contain; 
  }
  
  .splash-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  

 /* src/screens/SplashScreen.css
.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

.splash-content {
  text-align: center;
}

.splash-logo {
  width: 150px;
  height: 150px;
}

.splash-logo.animated {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.splash-message {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #333;
}

.loading-text {
  color: #666;
}

.welcome-text {
  color: #007bff;
  font-weight: bold;
}*/